@font-face {
	font-family: Roboto, sans-serif;
	src: url(roboto_regular.ttf);
}

*{
	box-sizing: border-box;
}

html {
	background-color: #006699;
	font-family: Roboto, sans-serif;
}

body{
	margin: 0;
	line-height: 1.6em;
	font-size: 30px;
}

.main-header{
	background-color: #00324c;
	color: #f1f2f6;
	padding: 1px;
	border-bottom: 8px solid black;
}

.main-header h1{
	margin-left: 1em;
	font-size: 50px;
}

.form{
	display: flex;
	justify-content: space-between;
	padding: 0 2em 0 2em;
	color: #fff;
}

.form-radio{
	margin-top: 0.5em;

}

.form-animation{
	display: flex;
	align-items: flex-start;
}

p{
	font-weight: bold;
}

input[type="text"]{
	padding: 8px;
}

.slider {
	margin-top: 10px;
	-webkit-appearance: none;
	width: 100%;
	height: 60px;
	background: #98c1d5;
	outline: 5px solid black;
	border-radius: 3px;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

#sliderDiv{
	width: 600px;
	text-align: center;
}

img {
	height: 200px;
}
#btreeInformation {
	font-size: 30px;
	float:right;
	margin-top: 10px;
	text-align: right;
	margin-right: 10px;
	color: #006699;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 60px;
	width: 60px;
	background: #00324c;
}

.slider::-moz-range-thumb {
	height: 60px;
	width: 60px;
	background: #00324c;
}

button{
	background-color: #336633;
	color: #fff;
	padding:20px 30px;
	border: 5px solid black;
	cursor: pointer;
	border-radius: 7px;
	font-weight: bold;
	font-size: 25px;
}

#treeInputInsert {
	padding:10px 15px;
	background-color: #98c1d5;
	border: 2px solid black;
	border-radius: 3px;
}

canvas {
	display:flex;
}

#firstRowInput {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#animationsgeschwindigkeit{
	display: inline-block;
	color: #fff;
	font-weight: bold;
}

#importButton{
	margin-left: 20px;
}

input[type="radio"], input[type="checkbox"] {
	accent-color: #00324c;
	transform: scale(2.5);
	margin: 10px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #98c1d5;
	margin: 15% auto;
	padding: 20px;
	border: 2px solid black;
	width: 400px;
}

.close-button {
	color: #00324c;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

table{
	padding-left: 10px;
	background-color: #fff;
	height: 200px;
	margin-top: 0.2em;
	width:100%;
}
