@font-face {
	font-family: Roboto, sans-serif;
	src: url(roboto_regular.ttf);
}

*{
	box-sizing: border-box;
}

html {
	background-color: #006699;
	font-family: Roboto, sans-serif;
}

body{
	margin: 0;
	line-height: 1.6em;
	font-size: 30px;
	display: flex;
	flex-direction: column;
}

.main-header{
	background-color: #00324c;
	color: #f1f2f6;
	padding: 1px;
	border-bottom: 8px solid black;
}

.main-header h1{
	margin-left: 1em;
	font-size: 50px;
}

.control{
	position: sticky;
	top: 0;
	z-index: 1000;
}

.content {
	flex: 1;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	padding: 0.5em;
}

.footer {
	margin-top: auto;
	position: sticky;
	bottom: 0;
	z-index: 1000;
}

.form{
	display: flex;
	justify-content: space-between;
	padding: 0 2em 0 2em;
	color: #fff;
}

.tree-type{ grid-area: tree-type}
.input-type{ grid-area: input-type}
.change-button{grid-area: change-button}

.radio-grid-container {
	display: grid;
	grid-template-areas:
	'tree-type tree-type change-button'
	'input-type input-type change-button';
	gap: 10px;
	background-color: #98c1d5;
	padding:0.5em 0.5em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
	border: 2px solid black;
	border-radius: 3px;
}

.button-container {
	grid-column: 2; /* Platziert die Button-Container in der zweiten Spalte */
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	display: flex;
	background-color: white;
	padding: 0.5em;
	flex: 1;
	max-height: 100%;
}

#canvas-container{
	flex: 0 0 70%;
	overflow-x: auto; /* Hinzufügen einer horizontalen Scrollbar, wenn der Inhalt zu breit wird */
	overflow-y: auto;
	padding: 0.5em;
	box-sizing: border-box;
}

#explanation-container {
	flex: 0 0 30%;
	padding: 0.5em;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-wrap: break-word;
	border: 0.1em solid darkblue;
	background-color: #98c1d5;
}

.form-animation{
	display: flex;
	align-items: flex-start;
}

p{
	font-weight: bold;
}

input[type="text"]{
	padding: 8px;
}

.slider {
	margin-top: 10px;
	-webkit-appearance: none;
	width: 100%;
	height: 60px;
	background: #98c1d5;
	outline: 5px solid black;
	border-radius: 3px;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

#sliderDiv{
	width: 600px;
	text-align: center;
}

img {
	height: 200px;
}
#btreeInformation {
	font-size: 30px;
	float:right;
	margin-top: 10px;
	text-align: right;
	margin-right: 10px;
	color: #006699;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 60px;
	width: 60px;
	background: #00324c;
}

.slider::-moz-range-thumb {
	height: 60px;
	width: 60px;
	background: #00324c;
}

button{
	background-color: #336633;
	color: #fff;
	padding:20px 30px;
	border: 5px solid black;
	cursor: pointer;
	border-radius: 7px;
	font-weight: bold;
	font-size: 25px;
}

#changeType {
	margin-left: 0; /* Reset left margin to align with the radio groups */
}

canvas {
	/*display:flex;*/
	background-color: white;
	display: block;
	margin: 10px;
}

#canvas-container {
	overflow: auto;
}

#firstRowInput {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#animationsgeschwindigkeit{
	display: inline-block;
	color: #fff;
	font-weight: bold;
}

#importButton{
	margin-left: 20px;
}

input[type="radio"], input[type="checkbox"] {
	accent-color: #00324c;
	transform: scale(2.5);
	margin: 10px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #98c1d5;
	margin: 15% auto;
	padding: 20px;
	border: 2px solid black;
	width: 400px;
}

.close-button {
	color: #00324c;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

table{
	padding-left: 10px;
	background-color: #fff;
	height: 200px;
	margin-top: 0.2em;
	width:100%;
}
